
<!-- Cursos -->
<% cursos.forEach(function(curso){ %>

    <a href="/cursos/<%= curso._id %>" class="list-group-item">
        <img  class="img-circle" src="http://placehold.it/100x100" alt="">
        <!-- <small>Capitulo</small> -->
        <h3 class="h5"><%= curso.nombrecurso %></h3>
        <small><%= curso.descripcion %></small>
    </a>
<%  }) %>
