<% include ./partials/header.ejs %>
<% include ./partials/nav.ejs %>
<hr><hr>
    <div class="curso">

      <div class="instrucciones bg-info">
        <button class="btn btn-info">< Paso anterior</button>
        <!-- <h2><%= titulo %></h2> -->



        <% curso.forEach(function(curso){ %>

        <h1 class="h3"><%= curso.nombrecurso %></h1>

          <% curso.pasos.forEach(function(paso,index){ %>
            <h4>Paso <%= index+1 %></h4>
            <p><%= paso.contenido %></p>
          <%  }) %>

        <%  }) %>


        <h3></h3>



        <button class="btn btn-success">Siguiente Paso ></button>

      </div>

      <div class="ejemplo">
        <div class="col-md-10 col-md-offset-1">
          Aqui va el ejemplo
          <p class="text-danger"></p>
          <img src="http://placehold.it/1000x500" class="img-responsive" alt="">

        </div>
      </div>

      <div class="asistencia">
        <button class="btn btn-success">Siguiente Paso</button>
      </div>

    </div>


<% include ./partials/footer.ejs%>
