<% include ./partials/header.ejs %>
<% include ./partials/nav.ejs %>



  <hr><hr><hr>

  <%= titulo %>
  <% cursos.forEach(function(curso){ %>

    <tr>
        <h1></h1>
        <td><a href="/cursos/<%= curso._id %>"><%= curso.nombrecurso %></a></td>
        <td><%= curso.capitulos %></td>
    </tr>

  <%  }) %>


  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <h1 class="text-center text-info">Cursos del FOREX</h1>
          <h2 class="h5 text-center text-muted">Aprenda a cómo ganar dinero en el FOREX como un inversionista profesional</h2>
        </div>
        <div class="row">
          <div class="list-group">
            <% include ./partials/curso_compacto.ejs %>
          </div>
        </div>
      </div>
    </div>
  </div>




<% include ./partials/footer.ejs%>
